body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#a88868;
  }
  
  /* Global */
  .container{
    width:90%;
    margin:auto;
    overflow:hidden;
  }
  
  ul{
    margin:0;
    padding:0;
  }

  .highlight{
    color:#4d3c61;
  }

  .margin-top{
    margin-top: 20px;
  }

  /* Header **/
header{
    background:#3c615f;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#4d3c61 3px solid;
  }
  
  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }
  
  header li{
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }
  
  header .highlight, header .current a{
    color:#4d3c61;
    font-weight:bold;
  }
  
  header .highlight h1{
    font-size:35px;
  }

  header a:hover{
    color:#cccccc;
    font-weight:bold;
  }
  
  /* Showcase */
  #showcase{
    min-height:700px;
    background:url('../img/showcaseVote.jpg');
    text-align:center;
    color:#ffffff;
  }
  
  #showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
  }
  
  #showcase p{
    font-size:20px;
  }

/* sign up form */
form {
  max-width: 300px;
  width : 400px;
  margin: 30px auto;
  padding: 10px 20px;
  background: #4d3c61;
  border-radius: 8px;
  color: white;
}

form h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}  

input[type="radio"] {
  margin: 0 4px 12px 0;
}

form button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #3c615f;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 250px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
  width: 80%;
  margin:auto;
}


label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

/* admin dashboard */

#profile{
  margin-top:70px;
  float:left;
  width: 30%;
  border-left: #4d3c61 10px solid;
  background: grey;
  height: 400px;
  min-width: 300px;
  color:white;
  text-align: center; 
}

#actions{
  float: right;
  width:65%;
  margin-top: 70px;
  border-left: #4d3c61 10px solid;
  background: grey;
  height: auto;
  min-width: 300px;
}

input[type="text"] {
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 50%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #3c615f;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 40%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin: 10px 0 10px 10px;
  min-width: 250px;
}




/* Display tables */
div.table-title {
 display: block;
 margin: auto;
 max-width: 600px;
 padding:5px;
 width: 100%;
}

.table-title h3 {
  color: #fafafa;
  font-size: 30px;
  font-weight: 400;
  font-style:normal;
  font-family: "Roboto", helvetica, arial, sans-serif;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform:uppercase;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  margin-bottom: 20px;
}

th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

table button{
  width: 10%;
  background: rgb(23, 70, 23);
}



/* Media Queries */
@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}

@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li{
    float:none;
    text-align:center;
    width:100%;
  }  

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:200px;
  }

  #profile,#actions{
    float:none;
  }
}
